{% extends 'base.jinja2' %}
{% block content %}
<section class="section">
  <h1 class="title">Add your Server</h1>

  <form action="/post/createServer" method="post" class="server-form">

    <div class="field">
      <label class="label" for='server-id'>Server-Id:</label>
      <div class="control">
      	<input class="input" type="text" name="server-id" style="width: 33%;"/>
      </div> 
    </div>

    <div class="field">
      <label class="label" for='server-name'>Server-Name:</label>
	<div class="control">
      		<input type="text" name="server-name" class="input" style="width: 33%;"/>
	</div> 
    </div>

    <div class="field">
      <label class="label" for='cpu'>CPU:</label>
      <div class="control">
      	<input type="text" name="cpu" class="input" style="width: 33%;"/>
      </div> 
    </div>

    <div class="field">
      <label class="label" for='diskspace'>Disk Space:</label>
      <div class="control">
      <input type="text" name="diskspace" class="input" style="width: 33%;"/>
      </div> 
    </div>

    <div class="field">
      <label class="label" for='ip'>IP:</label>
      <div class="control">
      <input type="text" name="ip" class="input" style="width: 33%;"/>
      </div> 
    </div>

    <div class="field">
      <label class="label" for='location'>Location:</label>
      <div class="control">   
      <input type="text" name="location" class="input" style="width: 33%;"/>
      </div> 
    </div>

    <div class="field">
      <label class="label" for='os'>OS:</label>
      <div class="control">
      <input type="text" name="os" class="input" style="width: 33%;"/>
      </div>
    </div>

    <div class="field">
      <label class="label" for='ram'>RAM:</label>
      <div class="control">
      <input type="text" name="ram" class="input" style="width: 33%;"/>
      </div> 
    </div>

    <div class="field">
      <label class="label" for='status'>Status Active:</label>
      <div class="control">
      <input type="text" name="status" class="input" style="width: 33%;" />
      </div> 
    </div>

    <div class="field">
      <label class="label" for='applications'>Applications:</label>
      <div class="control">
      <input type="text" name="applications" class="input" value='0' style="width: 33%;"/>
      </div> 
    </div>

    <div class="button-container">
      <input type="submit" class="button is-outlined is-danger" />
    </div>

  </form>
</section>
{% endblock %}
