{% extends 'base.jinja2' %}
{% block content %}

<style>

        form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    }

    label {
    display: block;
    margin-bottom: 10px;
    }

    input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    }

    input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    }

    input[type="submit"]:hover {
    background-color: #0062cc;
    }

</style>

<h1>Delete a Application</h1>

<form action="{{ url_for('deleteSpecificApplicationAPICall') }}" method="POST">
    <div>
      <label for="app-id">Application ID:</label>
      <input type="text" name="app-id" value="{{ app_id }}" />
    </div>
    <div>
      <label for="server-id">Server ID:</label>
      <input type="text" name="server-id" value="{{ server_id }}" />
    </div>
    <div>
      <input type="submit" value="Delete Application" />
    </div>
  </form>

{% endblock %}