{% extends 'base.jinja2' %}
{% block content %}

<style>
    form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    }

    label {
    display: block;
    margin-bottom: 10px;
    }

    input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    }

    input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    }

    input[type="submit"]:hover {
    background-color: #0062cc;
    }
</style>

<h1>Get Specific Server Details</h1>

<form action="/post/getSpecificServerDetails" method="POST">

    <div>
        <lable for='location'>Location</lable>
        <input type = text name = 'location' /> 
    </div>

    <div>
        <lable for='osType'>OS Type</lable>
        <label><input type="checkbox" name='os-type' value="amazonlinux"> Amazon Linux </label><br />
        <label><input type="checkbox" name='os-type' value="fedora"> Fedora </label><br />
        <label><input type="checkbox" name='os-type' value="ubuntu"> Ubuntu </label><br />
        <label><input type="checkbox" name='os-type' value="windows"> Windows </label><br />
        <label><input type="checkbox" name='os-type' value="ventura"> Ventura </label><br />
    </div>
    
    <div>
        <input type = 'submit' />
    </div>

</form>

{% endblock %}