{% extends 'base.jinja2' %}

{% block content %}

<head>
  <style>
    .button {
      display: inline-block;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 4px;
      transition: background-color 0.3s;
    }

    .button:hover {
      background-color: #3e8e41;
    }

    .button-container {
      display: flex;
      justify-content: flex-start;
    }

    .button-container a {
      margin-right: 10px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2}
    th {
      background-color: #4CAF50;
      color: white;
    }
  </style>
</head>

<h3> Servers </h3>

<table>
  <thead>
    <tr>
      <th>S.No</th>
      <th>Server ID</th>
      <th>Name</th>
      <th>IP</th>
      <th>Location</th>
      <th>OS</th>
      <th>CPU</th>
      <th>RAM</th>
      <th>Disk Space</th>
      <th>Status [Active]</th>
      <th>Applications</th>
    </tr>
  </thead>
  <tbody>
    {% for item in servers['Items'] %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ item['server-id']['N'] }}</td>
        <td>{{ item['Name']['S'] }}</td>
        <td>{{ item['IP']['S'] }}</td>
        <td>{{ item['Location']['S'] }}</td>
        <td>{{ item['OS']['S'] }}</td>
        <td>{{ item['CPU']['S'] }}</td>
        <td>{{ item['RAM']['N'] }}</td>
        <td>{{ item['Disk Space']['N'] }}</td>
        <td>{{ item['Status Active']['BOOL'] }}</td>
        <td>{{ item['Applications']['N'] }}
      </tr>
    {% endfor %}
  </tbody>
</table>

<br />

<div class="button-container">
  <a href="{{ url_for('addServer') }}" class="button"> Add Server </a>
  <a href="{{ url_for('getSpecificServer') }}" class="button"> Get Specific Server </a>
  <a href="{{ url_for('deleteServer') }}" class="button"> Delete Server </a>
</div>

<br />

<h3> Applications </h3>

<table>
  <thead>
    <tr>
      <th>S.No</th>
      <th>Application ID</th>
      <th>Server ID</th>
      <th>Version</th>
      <th>Port</th>
      <th>Status [Active]</th>
    </tr>
  </thead>
  <tbody>
    {% for item in applications['Items'] %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ item['application-id']['S'] }}</td>
        <td>{{ item['server-id']['S'] }}</td>
        <td>{{ item['version']['S'] }}</td>
        <td>{{ item['port']['N'] }}</td>
        <td>{{ item['Status Active']['BOOL'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br />

<div class="button-container">
  <a href="{{ url_for('addApplication') }}" class="button"> Add Application </a> <br />
  <a href="{{ url_for('getSpecificApplication') }}" class="button"> Get Specific Application </a>
  <a href="{{ url_for('deleteApplication') }}" class="button"> Delete Application </a>
</div>


{% endblock %}