{% extends 'base.jinja2' %}

{% block content %}

<head>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      text-align: left;
      padding: 8px;
    }
.button-container a {
      margin-right: 10px;
    }
  </style>
</head>
<section class="section">
<h1 class="title">Servers</h1>
<table class="table is-hoverable">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Server ID</th>
      <th>Name</th>
      <th>IP</th>
      <th>Location</th>
      <th>OS</th>
      <th>CPU</th>
      <th>RAM</th>
      <th>Disk Space</th>
      <th>Status [Active]</th>
      <th>Applications</th>
    </tr>
  </thead>
  <tbody>
    {% for item in servers['Items'] %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ item['server-id']['N'] }}</td>
        <td>{{ item['Name']['S'] }}</td>
        <td>{{ item['IP']['S'] }}</td>
        <td>{{ item['Location']['S'] }}</td>
        <td>{{ item['OS']['S'] }}</td>
        <td>{{ item['CPU']['S'] }}</td>
        <td>{{ item['RAM']['N'] }}</td>
        <td>{{ item['Disk Space']['N'] }}</td>
        <td>{{ item['Status Active']['BOOL'] }}</td>
        <td>{{ item['Applications']['N'] }}
      </tr>
    {% endfor %}
  </tbody>
</table>
<br />

<div class="button-container columns is-centered">
  <a href="{{ url_for('addServer') }}" class="button is-outlined is-success"> Add Server </a>
  <a href="{{ url_for('getSpecificServer') }}" class="button is-outlined is-success"> Get Specific Server </a>
  <a href="{{ url_for('deleteServer') }}" class="button is-outlined is-success"> Delete Server </a>
</div>
</section>
<br />

<section class="section">
<h1 class="title"> Applications </h1>
<table class="table is-hoverable">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Application ID</th>
      <th>Server ID</th>
      <th>Version</th>
      <th>Port</th>
      <th>Status [Active]</th>
    </tr>
  </thead>
  <tbody>
    {% for item in applications['Items'] %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ item['application-id']['S'] }}</td>
        <td>{{ item['server-id']['S'] }}</td>
        <td>{{ item['version']['S'] }}</td>
        <td>{{ item['port']['N'] }}</td>
        <td>{{ item['Status Active']['BOOL'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br />

<div class="button-container columns is-centered">
  <a href="{{ url_for('addApplication') }}" class="button is-outlined is-success"> Add Application </a> <br />
  <a href="{{ url_for('getSpecificApplication') }}" class="button is-outlined is-success"> Get Specific Application </a>
  <a href="{{ url_for('deleteApplication') }}" class="button is-outlined is-success"> Delete Application </a>
</div>
</section>

{% endblock %}
